In [1]:
# import yfinance as yf
# import pandas as pd
# import csv
# import datetime as dt
# from datetime import datetime # To get the current date and time
# from datetime import date, timedelta
# import csv
# import time
# import os # To check if the file exists

In [2]:
# ticker_data = pd.read_csv(r"S&P500Tickers.csv") # Open csv file and read data in pandas dataframe
# tickers_list = ticker_data[r"Symbol"].tolist() # Get all the tickers in a list

In [3]:
# def get_OHLC_data(tickers, start_date = None, end_date = None):
#     """
#  This function gets daily OHLC data from Yahoo Finance API for the provided number of days. 
#  In case days is not provided then data is pulled for maximum number of days
 
#  Input Parameters: 
#  tickers: List of tickers for which data needs to be extracted
#  Start Date: Date from which data needs to be pulled
#  End Date: Date until which data needs to be pulled
#  If start and end date is null then data for maximum number of days is pulled
 
#  Returns: Dataframe of the extracted data
#     """
#     final_OHLC_df = pd.DataFrame() # Declare the final empty dataframe
#     for ticker in tickers: # For each stock symbol in the list of symbols
#         OHLC_data = pd.DataFrame() # Declare intermediate data frame
#         yf_ticker_obj = yf.Ticker(ticker) # Initiate object to get the data from API
#     # If start date and end date is provided then pull data for those days
#     if(start_date != None and end_date != None): 
#          OHLC_data = yf_ticker_obj.history(start = start_date, end = end_date, interval = "1d", auto_adjust = True)
#     else: # Pull data for all the available days
#          OHLC_data = yf_ticker_obj.history(period="max", interval = "1d", auto_adjust = True)
#  # Note: In the above period = ‘max’ as we are pulling data for maximum number of days.
#  # interval = ‘1d’ as per pulling daily data for Open, High, Low, Close and Volume
#  # auto_adjust = ‘True’ as we are adjusting data for Dividends and Splits
#     OHLC_data.insert(0, "Symbol", ticker) # Adding this data to dataframe
#  # Delete split and dividend columns as this is not required.
 
#     OHLC_data = OHLC_data.drop(["Dividends","Stock Splits"], axis=1, errors="ignore")
#  # Apppending this data to final dataframe
#     final_OHLC_df = final_OHLC_df.append(OHLC_data)
#     time.sleep(.5)
#     final_OHLC_df.reset_index(inplace=True) # Re-setting the index
#  # Setting index to symbol and date
#     final_OHLC_df.set_index(["Date", "Symbol"], inplace=True)
#     return(final_OHLC_df)

In [4]:
 
#  # tickers_list = [‘AAPL’, ‘MSFT’] # Created for testing. Test the script on 2 symbols instead of 500
#  # Get the next date in YYYY-MM-DD format. 
#  # Yfinance API gives data from last day if today’s date is entered as start date
# today = pd.Timestamp.now().normalize() # Today’s date
# next_day = today + timedelta(days=1) # Adding 1 to get next date
 
#  # Name of the output file
# OHLC_data_file = "OHLC_yfinance_data.csv"
 
#  # Check if the OHLC csv file existing the root folder from where this script is ran
# if os.path.isfile(OHLC_data_file):
 
#  # Get the latest date in the datafile and load data in pandas dataframe
#     previous_day, old_data_df = get_last_date_data(OHLC_data_file)
 
#  # Get the data from latest date in the old file to todays date
#     latest_data = get_OHLC_data(tickers_list, previous_day, next_day)
 
#  # Append new data with old data
#     final_df = old_data_df.append(latest_data)
 
#  # Reset index and remove duplicates
#     final_df.reset_index(inplace=True)
#  # Drop duplicates that has same symbol and date
#     final_df = final_df.drop_duplicates(subset=["Date", "Symbol"], keep="first")
 
#  # Set index to symbol and date
#     final_df.set_index(["Date", "Symbol"], inplace=True)
# else: # This is done in case we are running script for the first time or data file does not exist
#     latest_data = get_OHLC_data(tickers_list) # Get the data for max available time
#     final_df = latest_data
 
#     if ("Adj Close" in final_df.columns): # Drop adjusted close column if exists
#          final_df.drop("Adj Close", axis=1, inplace=True)
 
#  # Writing the data to the output csv file
# final_df.to_csv(OHLC_data_file, mode="w", index=True) #index is True as we want it to be written in file

In [5]:
# final_df

In [16]:
import time
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import matplotlib
from matplotlib.pyplot import figure

import warnings
warnings.filterwarnings('ignore')

%matplotlib inline

sns.set_context('talk')
matplotlib.rcParams['font.family'] = 'arial'

In [17]:
df = pd.read_csv("nifty_500_stats.csv", 
                              sep=';', 
                              encoding='utf-8', 
                              thousands=',',
                              na_values='None'
                             )
del df['Unnamed: 0']
df['price_bookvalue'] = np.round(df.current_value / df.book_value, 2)
df['peg3'] = df.price_earnings / df.sales_growth_3yr

# # display(df.info())
# df.sample(5).T

In [18]:
df

,company,industry,symbol,category,market_cap,current_value,high_52week,low_52week,book_value,price_earnings,dividend_yield,roce,roe,sales_growth_3yr,price_bookvalue,peg3
0,Adani Ports and Special Economic Zone Ltd.,SERVICES,ADANIPORTS,Nifty 50,69087.0,333.60,451.55,293.95,90.36,28.32,0.60,14.96,14.82,18.67,3.69,1.516872
1,Asian Paints Ltd.,CONSUMER GOODS,ASIANPAINT,Nifty 50,119612.0,1247.00,1488.60,1082.00,84.29,58.50,0.70,38.71,25.47,8.44,14.79,6.931280
2,Axis Bank Ltd.,FINANCIAL SERVICES,AXISBANK,Nifty 50,156906.0,610.65,676.90,477.50,246.92,5525.00,0.00,4.40,0.11,8.87,2.47,622.886133
3,Bajaj Auto Ltd.,AUTOMOBILE,BAJAJ-AUTO,Nifty 50,76907.0,2658.00,3472.60,2425.00,654.55,17.89,2.26,31.96,22.63,5.20,4.06,3.440385
4,Bajaj Finance Ltd.,FINANCIAL SERVICES,BAJFINANCE,Nifty 50,137747.0,2383.00,2995.10,1514.40,300.47,42.21,0.17,12.74,20.27,35.08,7.93,1.203250
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
495,Welspun India Ltd.,TEXTILES,WELSPUNIND,Nifty Smallcap 250,6114.0,60.85,82.50,48.90,24.85,20.05,1.07,9.49,13.02,4.27,2.45,4.695550
496,Wockhardt Ltd.,PHARMA,WOCKPHARMA,Nifty Smallcap 250,5658.0,511.20,1012.00,437.10,116.97,36.47,0.00,8.54,5.46,9.51,4.37,3.834911
497,Zensar Technolgies Ltd.,IT,ZENSARTECH,Nifty Smallcap 250,5828.0,258.90,352.40,145.98,60.43,24.51,0.93,22.29,16.15,5.99,4.28,4.091820
498,Zydus Wellness Ltd.,CONSUMER GOODS,ZYDUSWELL,Nifty Smallcap 250,4611.0,1180.00,1830.00,875.80,184.39,33.12,0.68,20.57,21.09,6.43,6.40,5.150855
499,eClerx Services Ltd.,IT,ECLERX,Nifty Smallcap 250,4147.0,1072.00,1608.00,1000.00,297.04,17.84,0.09,31.07,23.91,11.81,3.61,1.510584

In [23]:
df = df.dropna(axis=0)
df

,company,industry,symbol,category,market_cap,current_value,high_52week,low_52week,book_value,price_earnings,dividend_yield,roce,roe,sales_growth_3yr,price_bookvalue,peg3
0,Adani Ports and Special Economic Zone Ltd.,SERVICES,ADANIPORTS,Nifty 50,69087.0,333.60,451.55,293.95,90.36,28.32,0.60,14.96,14.82,18.67,3.69,1.516872
1,Asian Paints Ltd.,CONSUMER GOODS,ASIANPAINT,Nifty 50,119612.0,1247.00,1488.60,1082.00,84.29,58.50,0.70,38.71,25.47,8.44,14.79,6.931280
2,Axis Bank Ltd.,FINANCIAL SERVICES,AXISBANK,Nifty 50,156906.0,610.65,676.90,477.50,246.92,5525.00,0.00,4.40,0.11,8.87,2.47,622.886133
3,Bajaj Auto Ltd.,AUTOMOBILE,BAJAJ-AUTO,Nifty 50,76907.0,2658.00,3472.60,2425.00,654.55,17.89,2.26,31.96,22.63,5.20,4.06,3.440385
4,Bajaj Finance Ltd.,FINANCIAL SERVICES,BAJFINANCE,Nifty 50,137747.0,2383.00,2995.10,1514.40,300.47,42.21,0.17,12.74,20.27,35.08,7.93,1.203250
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
495,Welspun India Ltd.,TEXTILES,WELSPUNIND,Nifty Smallcap 250,6114.0,60.85,82.50,48.90,24.85,20.05,1.07,9.49,13.02,4.27,2.45,4.695550
496,Wockhardt Ltd.,PHARMA,WOCKPHARMA,Nifty Smallcap 250,5658.0,511.20,1012.00,437.10,116.97,36.47,0.00,8.54,5.46,9.51,4.37,3.834911
497,Zensar Technolgies Ltd.,IT,ZENSARTECH,Nifty Smallcap 250,5828.0,258.90,352.40,145.98,60.43,24.51,0.93,22.29,16.15,5.99,4.28,4.091820
498,Zydus Wellness Ltd.,CONSUMER GOODS,ZYDUSWELL,Nifty Smallcap 250,4611.0,1180.00,1830.00,875.80,184.39,33.12,0.68,20.57,21.09,6.43,6.40,5.150855
499,eClerx Services Ltd.,IT,ECLERX,Nifty Smallcap 250,4147.0,1072.00,1608.00,1000.00,297.04,17.84,0.09,31.07,23.91,11.81,3.61,1.510584

In [28]:
df.columns

Index(['company', 'industry', 'symbol', 'category', 'market_cap',
       'current_value', 'high_52week', 'low_52week', 'book_value',
       'price_earnings', 'dividend_yield', 'roce', 'roe', 'sales_growth_3yr',
       'price_bookvalue', 'peg3'],
      dtype='object')

In [39]:
selected_features = ['company','market_cap',
       'current_value', 'high_52week', 'low_52week', 'book_value',
       'price_earnings', 'dividend_yield', 'roce', 'roe', 'sales_growth_3yr',
       'price_bookvalue', 'peg3']
df[selected_features]

,company,market_cap,current_value,high_52week,low_52week,book_value,price_earnings,dividend_yield,roce,roe,sales_growth_3yr,price_bookvalue,peg3
0,Adani Ports and Special Economic Zone Ltd.,69087.0,333.60,451.55,293.95,90.36,28.32,0.60,14.96,14.82,18.67,3.69,1.516872
1,Asian Paints Ltd.,119612.0,1247.00,1488.60,1082.00,84.29,58.50,0.70,38.71,25.47,8.44,14.79,6.931280
2,Axis Bank Ltd.,156906.0,610.65,676.90,477.50,246.92,5525.00,0.00,4.40,0.11,8.87,2.47,622.886133
3,Bajaj Auto Ltd.,76907.0,2658.00,3472.60,2425.00,654.55,17.89,2.26,31.96,22.63,5.20,4.06,3.440385
4,Bajaj Finance Ltd.,137747.0,2383.00,2995.10,1514.40,300.47,42.21,0.17,12.74,20.27,35.08,7.93,1.203250
...,...,...,...,...,...,...,...,...,...,...,...,...,...
495,Welspun India Ltd.,6114.0,60.85,82.50,48.90,24.85,20.05,1.07,9.49,13.02,4.27,2.45,4.695550
496,Wockhardt Ltd.,5658.0,511.20,1012.00,437.10,116.97,36.47,0.00,8.54,5.46,9.51,4.37,3.834911
497,Zensar Technolgies Ltd.,5828.0,258.90,352.40,145.98,60.43,24.51,0.93,22.29,16.15,5.99,4.28,4.091820
498,Zydus Wellness Ltd.,4611.0,1180.00,1830.00,875.80,184.39,33.12,0.68,20.57,21.09,6.43,6.40,5.150855
499,eClerx Services Ltd.,4147.0,1072.00,1608.00,1000.00,297.04,17.84,0.09,31.07,23.91,11.81,3.61,1.510584

In [33]:
from sklearn.preprocessing import StandardScaler

# Separating out the features
x = df.loc[:, selected_features[1:]].values
# Separating out the target
# y = df.loc[:,['target']].values
# Standardizing the features
x = StandardScaler().fit_transform(x)

In [35]:
from sklearn.decomposition import PCA
pca = PCA(n_components=2)
principalComponents = pca.fit_transform(x)
principalDf = pd.DataFrame(data = principalComponents
             , columns = ['principal component 1', 'principal component 2'])

In [36]:
principalDf

     principal component 1  principal component 2
0                -0.421941              -0.132212
1                 0.797810               2.377145
2                -0.538720              -3.156691
3                 0.963764               0.798601
4                 0.596973               0.341957
..                     ...                    ...
438              -0.753451              -0.618259
439              -0.540542              -1.040345
440              -0.400903               0.176891
441               0.136346               0.412138
442               0.245201               0.673897

[443 rows x 2 columns]

In [40]:
principalDf['company'] = df['company']

In [43]:
principalDf = principalDf.set_index('company')

In [44]:
principalDf

,principal component 1,principal component 2
company,,
Adani Ports and Special Economic Zone Ltd.,-0.421941,-0.132212
Asian Paints Ltd.,0.797810,2.377145
Axis Bank Ltd.,-0.538720,-3.156691
Bajaj Auto Ltd.,0.963764,0.798601
Bajaj Finance Ltd.,0.596973,0.341957
...,...,...
NaN,-0.753451,-0.618259
Reliance Home Finance Ltd.,-0.540542,-1.040345
NaN,-0.400903,0.176891
Repco Home Finance Ltd.,0.136346,0.412138
Rupa & Company Ltd.,0.245201,0.673897